# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
.venv/

# macOS
.DS_Store
__MACOSX/

# Test/cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment variables
.env

# Logs
*.log
